## Ejercicio N de Visualización de Datos
Autor: Marcelo Gabriel Ulrich
Fecha: Septiembre 2025

El objetivo de este archivo es procesar los datos extraidos de GapMinder para armar gráficos en R.

In [2]:
import pandas as pd

lifeExp = pd.read_csv('data/lifeExp.csv')
gdpPercap = pd.read_csv('data/gdp_pcap.csv')
inflation = pd.read_csv('data/inflation_annual_percent.csv')

In [3]:
#Me quedo desde el 1990 hasta 2024
print(lifeExp.columns)
#
for year in range(1800, 1990):
    lifeExp = lifeExp.drop(columns=str(year))
for year in range(2025, 2101):
    lifeExp = lifeExp.drop(columns=str(year))
print(lifeExp.columns)

Index(['country', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808',
       ...
       '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
       '2100'],
      dtype='object', length=302)
Index(['country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       '2024'],
      dtype='object')

In [4]:
#Me quedo desde el 1990 hasta 2024
print(inflation.columns)
#
for year in range(1961, 1990):
    inflation = inflation.drop(columns=str(year))

print(inflation.columns)

Index(['country', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024'],
      dtype='object')
Index(['country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       '2024'],
      dtype='object')

In [5]:
#Me quedo desde el 1990 hasta 2024
print(gdpPercap.columns)
#
for year in range(1800, 1990):
    gdpPercap = gdpPercap.drop(columns=str(year))
for year in range(2025, 2101):
    gdpPercap = gdpPercap.drop(columns=str(year))
print(gdpPercap.columns)

Index(['country', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808',
       ...
       '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
       '2100'],
      dtype='object', length=302)
Index(['country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       '2024'],
      dtype='object')

In [6]:
# ...existing code...
inflation = inflation.set_index('country')

def parse_value(x):
    if pd.isna(x):
        return float('nan')
    x = str(x).strip()
    if 'k' in x:
        return float(x.replace('k', '')) * 1000
    try:
        return float(x)
    except ValueError:
        return float('nan')

inflation = inflation.map(parse_value)

In [7]:
inflation

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
country,,,,,,,,,,,,,,,,,,,,,
Aruba,5.77,5.61,3.82,5.300,6.29,3.38,3.260,3.70,6.59,2.19,...,6.830,NaN,NaN,3.46,6.02,NaN,NaN,3.16,6.71,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.450,NaN,2.400,2.07,6.52,6.960,2.84,9.41,2.92,NaN
Angola,14.00,106.00,477.00,918.000,2180.00,1830.00,4800.000,95.50,39.40,558.00,...,NaN,21.800,22.600,28.20,19.20,10.800,38.80,13.70,17.60,25.20
Albania,NaN,35.50,233.00,126.000,35.80,33.50,16.900,12.80,7.86,2.79,...,0.772,NaN,2.730,1.45,1.00,0.041,3.44,9.86,6.07,2.69
Andorra,7.33,6.94,6.71,4.540,3.88,4.93,0.797,2.23,1.50,2.73,...,0.661,0.348,1.140,1.01,1.37,1.110,2.56,4.24,6.30,3.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Samoa,9.01,6.11,8.57,0.655,68.20,NaN,4.590,11.80,3.41,1.13,...,3.960,2.240,0.305,1.10,1.50,1.220,NaN,5.64,8.09,5.01
Yemen,NaN,12.00,13.20,16.400,20.80,45.70,36.800,13.30,NaN,33.50,...,46.500,0.134,18.600,14.90,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,15.40,15.70,14.70,13.400,9.81,10.80,8.020,8.14,8.08,6.89,...,5.550,6.950,5.470,3.99,4.61,5.390,6.54,4.99,4.80,3.84
Zambia,106.00,92.70,166.00,144.000,80.70,30.60,24.300,25.40,16.90,17.90,...,6.660,13.600,10.100,7.41,7.63,13.900,25.10,6.14,7.09,18.80
Zimbabwe,NaN,NaN,NaN,NaN,NaN,3.04,8.980,NaN,NaN,8.01,...,0.607,2.160,197.000,3.55,225.00,605.000,113.00,267.00,922.00,1090.00

In [8]:
lifeExp

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,53.8,53.8,54.2,54.4,53.9,54.3,54.7,54.5,53.3,...,61.9,62.0,62.9,62.7,63.3,62.3,61.8,62.6,64.0,64.8
1,Angola,49.7,50.3,50.3,49.0,50.3,51.2,51.7,51.6,50.6,...,63.5,63.9,64.2,64.6,65.1,64.9,64.2,64.5,65.9,66.1
2,Albania,72.8,72.6,73.2,73.8,74.6,74.6,74.5,72.9,74.8,...,78.1,78.2,78.3,78.4,78.5,76.2,75.7,76.1,77.3,79.5
3,Andorra,79.0,79.1,79.2,79.3,79.5,79.8,80.0,80.2,80.4,...,82.0,82.1,82.1,82.1,82.2,78.3,79.6,82.7,82.9,83.0
4,UAE,68.7,68.7,68.8,68.8,68.7,68.8,68.9,69.0,69.2,...,73.2,73.4,73.5,73.7,73.9,73.2,73.0,73.4,74.6,74.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Samoa,66.9,66.9,67.2,67.4,67.5,67.7,67.8,68.0,68.2,...,70.1,70.2,70.3,70.4,70.5,71.1,71.1,70.9,71.1,71.2
192,Yemen,59.1,59.5,59.9,60.3,60.5,61.1,61.5,62.0,62.5,...,68.2,67.5,67.3,66.1,67.7,67.3,66.3,66.3,67.2,69.0
193,South Africa,64.2,64.3,63.6,64.3,63.4,62.9,61.8,59.5,58.0,...,62.3,62.7,63.2,64.4,65.1,64.2,61.4,60.5,61.9,65.8
194,Zambia,51.9,50.7,49.6,48.7,47.7,46.8,46.1,45.7,45.5,...,60.8,61.4,61.9,62.5,63.2,62.8,61.6,62.2,63.4,64.0
195,Zimbabwe,62.4,61.4,59.8,58.0,56.2,54.2,52.5,51.2,49.7,...,58.6,59.2,59.9,60.6,61.0,60.9,59.0,59.1,61.7,61.8

In [21]:
import pandas as pd

# Load datasets
inflation = pd.read_csv("data/inflation_annual_percent.csv")
poverty = pd.read_csv("data/not365pov_rate.csv")

In [22]:
years = poverty.columns[1:].tolist()
poverty[years] = 100 - poverty[years]
poverty

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,...,44.5,44.3,42.8,41.3,39.8,38.2,36.5,35.1,34.8,33.3
1,Angola,99.50,99.50,99.50,99.50,99.50,99.47,99.47,99.47,99.47,...,19.8,18.8,17.8,17.7,16.9,16.1,16.0,15.2,14.4,14.3
2,Albania,99.30,99.30,99.30,99.29,99.29,99.25,99.25,99.25,99.25,...,0.8,0.8,0.8,0.8,0.8,0.8,0.8,0.8,0.8,0.8
3,UAE,88.00,87.20,87.20,87.20,87.20,87.20,87.30,87.30,87.30,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,Argentina,91.08,90.49,90.49,90.57,90.61,90.61,90.64,90.64,90.64,...,0.9,0.8,0.8,0.8,0.7,0.7,0.7,0.7,0.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Samoa,91.35,91.35,91.35,91.35,91.35,91.35,91.35,91.35,91.34,...,0.6,0.6,0.6,0.6,0.5,0.5,0.5,0.5,0.4,0.4
188,Yemen,97.70,97.70,97.70,97.70,97.70,97.70,97.55,97.55,97.55,...,42.9,41.1,39.4,39.4,37.6,35.8,34.1,32.5,30.9,29.3
189,South Africa,98.79,98.79,98.90,98.90,98.90,99.08,99.08,98.79,99.24,...,12.0,11.9,11.3,11.2,10.6,10.5,10.0,9.9,9.4,9.3
190,Zambia,99.53,99.53,99.53,99.53,99.53,99.53,99.53,99.53,99.53,...,45.4,44.0,42.5,41.2,39.9,38.6,38.5,37.2,35.8,34.5
191,Zimbabwe,96.13,96.13,96.13,96.13,96.13,96.13,96.13,96.13,96.13,...,19.3,18.2,17.0,16.0,15.0,14.9,13.8,12.8,11.8,11.2

In [23]:
lifeeexp = poverty

In [24]:
# -------------------------------
# 1. Align years (common columns)
# -------------------------------
# Assume format: first column = "country" (or "Country Name"), others are years
inflation_years = set(inflation.columns[1:])
lifeexp_years = set(lifeexp.columns[1:])

common_years = sorted(list(inflation_years & lifeexp_years))

inflation = inflation[["country"] + common_years]
lifeexp = lifeexp[["country"] + common_years]

In [25]:
# -------------------------------
# 2. Keep only common countries
# -------------------------------
common_countries = set(inflation["country"]) & set(lifeexp["country"])

inflation = inflation[inflation["country"].isin(common_countries)].reset_index(drop=True)
lifeexp = lifeexp[lifeexp["country"].isin(common_countries)].reset_index(drop=True)

In [26]:
# -------------------------------
# 3. Handling NAs
# -------------------------------
# Recommendation: Keep NAs, don't impute them
# Explanation:
# - 0 inflation has real meaning
# - If you impute, you distort trends
# - Best for animation: let NAs mean "country not shown yet"

# -------------------------------
# 4. Build Continents.csv
# -------------------------------
# We can use pycountry_convert or a manual mapping

import pycountry_convert as pc

def get_continent(country_name):
    try:
        # Convert country name to alpha-2
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        # Get continent code
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        # Map to human-readable continent name
        continent_map = {
            "AF": "Africa",
            "AS": "Asia",
            "EU": "Europe",
            "NA": "North America",
            "SA": "South America",
            "OC": "Oceania",
            "AN": "Antarctica"
        }
        return continent_map[continent_code]
    except:
        return "Unknown"

# Build continent dataframe
countries = sorted(list(common_countries))
continent_df = pd.DataFrame({
    "country": countries,
    "continent": [get_continent(c) for c in countries]
})

# Save continents file
continent_df.to_csv("Continents.csv", index=False)

print("Datasets aligned!")
print("Inflation shape:", inflation.shape)
print("LifeExp shape:", lifeexp.shape)
print("Continents file created.")

Datasets aligned!
Inflation shape: (194, 65)
LifeExp shape: (194, 65)
Continents file created.

In [27]:
import pandas as pd

# -------------------------------
# Reshape to long format
# -------------------------------
# Inflation
inflation_long = inflation.melt(id_vars="country", var_name="year", value_name="inflation")

# Life expectancy
lifeexp_long = lifeexp.melt(id_vars="country", var_name="year", value_name="lifeExp")

# -------------------------------
# Merge both datasets
# -------------------------------
df = pd.merge(lifeexp_long, inflation_long, on=["country", "year"], how="inner")

# -------------------------------
# Add continents
# -------------------------------
df = pd.merge(df, continent_df, on="country", how="left")

# -------------------------------
# Clean up types
# -------------------------------
df["year"] = df["year"].astype(int)

# Reorder columns
df = df[["country", "continent", "year", "lifeExp", "inflation"]]

# Save final dataframe
df.to_csv("final_dataset.csv", index=False)

print("Final dataset shape:", df.shape)
print(df.head())

Final dataset shape: (12416, 5)
       country continent  year  lifeExp inflation
0  Afghanistan      Asia  1961     45.3       NaN
1       Angola    Africa  1961     44.8       NaN
2      Albania    Europe  1961     63.3       NaN
3      Andorra    Europe  1961     75.8       NaN
4          UAE   Unknown  1961     60.8       NaN